@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap");

body {
  background-color: #27292c;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
